form {
    border: 1px solid palevioletred;
    padding: 10px 10px;
}

#listaMedicamentos {
    font-size: 20px;
    color:blueviolet;
    margin-top: 10px; 
}

#listaMedicamentos li button {
    margin-left: 10px;
}

span {
    font-weight: 10px;
    color: aqua;
}